apiVersion: v1
kind: Service
metadata:
  name: keeper
  labels:
    app: keeper
    version: 1.0.0
spec:
  type: ClusterIP
  selector:
    app: keeper
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
